* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

body::-webkit-scrollbar {
  display: none;
}

/* navigation */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.nav .leftnav {
  display: flex;
  align-items: center;
}

.nav .leftnav h1:hover {
  transition: 0.6s;
  font-size: 2.2rem;
  cursor: pointer;
}

.nav .leftnav img {
  width: 40px;
  height: 40px;
}

.nav .leftnav:hover {
  cursor: pointer;
}

.nav .centernav ul li {
  display: flex;
  display: inline-block;
  align-items: center;
  list-style: none;
  margin-right: 40px;
}

.nav .centernav ul li a {
  text-decoration: none;
  color: black;
}

.nav .centernav ul li:hover {
  cursor: pointer;
  color: #000000;
  background-color: white;
  border-radius: 20px 0 20px 0px;
  padding: 8px 23px 8px 23px;
  border: 1px solid black;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
  transition: 0.8s;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

#btn {
  margin-right: 10px;
}

.nav .rightnav button {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  background-color: white;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
}

.nav .rightnav button:hover {
  padding: 8px 20px 8px 20px;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: none;
  transition: 0.6s;
}

.nav .rightnav button a {
  text-decoration: none;
  color: black;
}

/* main */

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.section .leftsection h2 {
  font-size: 70px;
}

.section .leftsection button {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 25px 10px 25px;
  background-color: white;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
}

.section .leftsection button:hover {
  border: 1px solid black;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: none;
}

#btn {
  background-color: #1a1a1a;
  color: #f8f8f8;
}

.section .rightsection {
  width: 390px;
  height: 240px;
  border: 1.4px solid black;
  border-radius: 20px;
}

.section .rightsection:hover {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.section .rightsection img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 8px solid white;
}

/* section2 */

.projectsname {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#down {
  font-size: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.section1 {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin: 0 auto;
  max-width: 1080px;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 1080px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 260px;
  border: 2px solid black;
  border-radius: 30px 0 30px 0px;
  background-color: #dcdcdc;
}

.cart:hover {
  width: 255px;
  height: 265px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.8);
  transition: 0.6s;
}

.cart .image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid black;
}

.cart img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 6px solid white;
  border-radius: 50%;
}

.cart p {
  margin-top: 10px;
  width: 100px;
  height: 20px;
  background-color: #f8f8f8;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 8px 6px 1px rgba(0, 0, 0, 0.6);
}

.cart p:hover {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: none;
}

#expert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #dcdcdc;
}

#expert .image {
  width: 140px;
  height: 140px;
  border-radius: 30px 0 30px 0px;
  border: 2px solid black;
}

#expert img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 6px solid white;
  border-radius: 30px 0 30px 0px;
}

main hr {
  height: 1px;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* footer */

.foot {
  display: block;
  justify-content: center;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 50px;
}

.ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.ul li {
  display: inline-block;
  list-style: none;
  color: black;
}

.ul li a {
  text-decoration: none;
  color: black;
}

.ul li a img {
  width: 30px;
  height: 30px;
}

.foot-nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.foot ul li {
  list-style: none;
  color: black;
}

.foot-nav ul li a {
  text-decoration: none;
  color: black;
}

.copyright {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}